@tailwind base;
@tailwind components;
@tailwind utilities;

.bg-pallete{
  background-color: #D4B452;
}

.fira-sans-medium {
  font-family: "Fira Sans", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.fira-sans-semibold {
  font-family: "Fira Sans", sans-serif;
  font-weight: 600;
  font-style: normal;
}

.fira-sans-bold {
  font-family: "Fira Sans", sans-serif;
  font-weight: 700;
  font-style: normal;
}

::-webkit-scrollbar-track {
  background-color: transparent;
  opacity: 0;
}

::-webkit-scrollbar-thumb {
  background-color: #ff9f1c;
  border-radius: 10px;
}

::-webkit-scrollbar {
  width: 0.5rem;
}

* {
  scrollbar-width: thin;
  scrollbar-color: #ff9f1c transparent;
}
