@tailwind base;
@tailwind components;
@tailwind utilities;

.bg-pallete{
  background-color: #D4B452;
}

.fira-sans-medium {
  font-family: "Fira Sans", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.fira-sans-semibold {
  font-family: "Fira Sans", sans-serif;
  font-weight: 600;
  font-style: normal;
}

.fira-sans-bold {
  font-family: "Fira Sans", sans-serif;
  font-weight: 700;
  font-style: normal;
}


* {
  scrollbar-width: none;
  scrollbar-color: #ff9f1c transparent;
  scrollbar-base-color: #ff9f1c;
}
::-webkit-scrollbar-track {
  background-color: transparent !important;
  opacity: 0 !important;
}

::-webkit-scrollbar-thumb {
  background-color: #ff9f1c !important;
  border-radius: 10px !important;
}

::-webkit-scrollbar {
  width: 0.5rem !important;
}
